.share {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}

.content-article {
    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}



@media screen and (min-width: $desktop-1280) {
    .content-article {
        padding-right: 243px;
    }
}



// TABLET PORTRAIT - 768PX
@media only screen and (min-width: $tablet-portrait) {
    .content-article {
        &__image {
            height: 400px;
        }
    }
}



// DESKTOP - 1440PX
@media screen and (min-width: $desktop-1440) {
    .content-article {
        &__image {
            height: 450px;
        }
    }
}



// DESKTOP - 1920PX
@media only screen and (min-width: $desktop-hd) {
    .content-article {
        &__image {
            height: 550px;
        }
    }
}



// DESKTOP - 2560PX
@media only screen and (min-width: $desktop-qhd) {
    .content-article {
        &__image {
            height: 650px;
        }
    }
}



// DESKTOP - 3840PX
@media only screen and (min-width: $desktop-4k) {
    .content-article {
        &__image {
            height: 750px;
        }
    }
}